
<div class='login-container'>
  <div class='logo'>
    <img src="../../assets/logo.png" alt="">
  </div>
  <div>
    <InputItem [type]="'phone'" [placeholder]="'Please Input Your Phone Number'"></InputItem>
    <InputItem [type]="'password'" [placeholder]="'Please Input Password'"></InputItem>
  </div>
  <div style='display: flex; justify-content: center; margin-top: 30px'>
    <div  Button style="margin-right: 4px; width: 100%" [type]="'primary'" [inline]="true" (click)='routerToOrder()'>login</div>
  </div>
</div>

